@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  margin: 0;
  background: url("../img/background-light.png");
  background-size: 100% 100%;
  background-attachment: fixed;
  font-family: Roboto;
}
header {
  width: 100%;
  padding: 1rem 0 1rem 2rem;
  margin-bottom: 2rem;
  background-color: rgba(41, 128, 185, 0.2);
  box-shadow: 0 -2px 1rem rgba(0, 0, 0, 0.9);
}
main {
  width: min(600px, 100%);
}
.title {
  color: #fff;
  margin: 0;
  font-size: 2.5rem;
  text-shadow: 1px 0 0 #000, 0 -0.2rem 0 rgba(0, 0, 0, 0.5), 0 1px 0 #000,
    -0.2rem -0.2rem 0 rgba(0, 0, 0, 0.5);
}
.wrapper {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #fff;
  border-radius: 0.3rem;
}
.todos {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin: 1rem 0 1.2rem 1rem;
}
.todos-divider {
  border: 0.1rem solid rgba(255, 255, 255, 0.5);
  border-bottom: 0;
  margin: 1.5rem 0;
}
.icon-plus {
  width: 2rem;
}
.todos__input-checkbox {
  accent-color: rgb(41, 128, 185);
  transform: scale(1.6);
}
.todos__input-checkbox:checked {
  accent-color: rgb(41, 128, 185);
  transform: scale(1.3);
}
.todos__input-text {
  width: 100%;
  border-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border: 0;
  padding: 1rem;
  outline: none;
}
.todos__input-button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
}
